<mat-toolbar>
  <div>RACCOON</div>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Manager">
    <app-sidenav></app-sidenav>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer opened class="rps-list" mode="side">
        <app-package-list (click)="selectedRp = $event"></app-package-list>
      </mat-drawer>
      <div class="rps-instances">
        <app-rp-instances></app-rp-instances>
      </div>
    </mat-drawer-container>
  </mat-tab>
  <mat-tab label="Files">
    Files list...
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
