<table [hidden]="!RpInstances" mat-table [dataSource]="RpDataSource" matSort class="mat-elevation-z8">
  <ng-container *ngFor="let prop of SelectedRpAttributes" [matColumnDef]="prop">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ prop }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element[prop] }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="SelectedRpAttributes"></tr>
  <tr mat-row *matRowDef="let row; columns: SelectedRpAttributes"></tr>
</table>
