<div
(click)="closeLastSheet()"
*ngIf="!IsEmpty" class="overlay"></div>
<div *ngFor="let sheet of _sheets; index as i">
  <div
  *ngIf="i > _sheets.length - 4"
  class="sheet"
  [ngStyle]="sheet.Style"
  [ngClass]="{
    'active': sheet.Active,
    'inactive': !sheet.Active, 
    'good-bye': sheet.Active && sheet.Right
  }">
    <div
    (click)="closeLastSheet()"
    class="sheet-content">
      <div>
        <button (click)="closeLastSheet()" mat-button>
          close
        </button>
      </div>
      <div>
        Sheet index: {{i}}
      </div>
      <div>
        RP:
        <b>
          {{stringify(sheet.rp)}}<br>
        </b>
      </div>
      <div>
        <button mat-button (click)="addSheet({sheet: i + 1})">
          Next sheet
        </button>
      </div>
    </div>
  </div>
</div>
