<div
(click)="closeLastSheet()"
class="overlay"
[ngClass]="{'active-overlay': !IsEmpty}"></div>
<div *ngFor="let sheet of _sheets; index as i">
  <div
  *ngIf="i > _sheets.length - 5"
  class="sheet"
  [ngStyle]="sheet.Style"
  [ngClass]="{
    'active': sheet.Active,
    'inactive': !sheet.Active, 
    'good-bye': !sheet.Active && sheet.Right
  }">
    <div class="sheet-content">
      <div
      (click)="closeLastSheet()"
      class="sheet-overlay"
      [ngClass]="{'active-overlay': !sheet.Active && !sheet.Right}"></div>
      <div>
        <button (click)="closeLastSheet()" mat-button>
          close
        </button>
      </div>
      <div>
        Sheet index: {{i}}
      </div>
      <div>
        RP:
        <b>
          {{stringify(sheet.Rp)}}<br>
        </b>
      </div>
      <div>
        <button mat-button (click)="addSheet({sheet: i + 1})">
          Next sheet
        </button>
      </div>
    </div>
  </div>
</div>
